# Infrastructure Summary

%{ for vpc_name, vpc in infra.vpc ~}
VPC: ${vpc_name} (${vpc.cidr_block})

Public Subnets:
%{ for name, id in vpc.public_subnets ~}
 - ${name}: ${id}
%{ endfor ~}

Private Subnets:
%{ for name, id in vpc.private_subnets ~}
 - ${name}: ${id}
%{ endfor ~}

Internet Gateway: ${vpc.internet_gateway_id}
NAT Gateway: ${vpc.nat_gateway_id}

Public Route Table: ${vpc.public_rt_id}
Private Route Tables:
%{ for name, id in vpc.private_rt_ids ~}
 - ${name}: ${id}
%{ endfor ~}

S3 Endpoint: ${vpc.s3_endpoint_id}

---------------------------------------
%{ endfor ~}

## ACM
Certificate ARN: ${infra.acm.certificate_arn}

## ALBs
MAP ALB DNS: ${infra.alb.map.dns_name}
CWB ALB DNS: ${infra.alb.cwb.dns_name}

## EC2
MAP App EC2: ${infra.ec2.map.app_instance}
MAP MySQL EC2: ${infra.ec2.map.mysql_instance}
CWB EC2: ${infra.ec2.cwb.app_instance}

## CloudFront
Distribution ID: ${infra.cloudfront.map.distribution_id}
Domain Name: ${infra.cloudfront.map.domain_name}
